html,
body {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    --bg-color: linear-gradient(260deg, #fdfdfd, white); /* variável de fundo da tela 20202a */
    --header-bg: rgb(216, 216, 216);  /* variável de fundo do cabeçalho */
    --note-add-bg: #dfdfdf; /* variável de fundo do container de notas */

    background: var(--bg-color);


}

.todo-container {
    position: relative;
    display: block;
    max-width: 300px;
    width: 100%;
}
.todo-header {
    background: var(--header-bg);
    display: flex;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}
#todo-search {
    width: 100%;
    border: 0;
    outline: 0;
    padding: 8px 10px;
    font-size: 1.1rem;
    box-sizing: border-box;
    border-radius: 16px;
}






.notes-container {
    background: var();
}
.note {
    min-height: 50px;
    width: 100%;
    border-left: 3px solid grey;
    border-bottom: 1px solid black ;
    box-sizing: border-box;
    padding: 8px 10px;
    position: relative;
}
.plus-signal {
    color: grey;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-weight: 900;
}
.did {
    background: lightgreen;
    border-left: 3px solid yellowgreen; /*alt color: palegreen*/
}
.todo {
    background: lightcoral;
    border-left: 3px solid orangered;
}
.note-title {
    border: 0;
    outline: 0;
    display: block;
    height: 1.125rem;
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;

}
.note-title br {
    display: none;
}
.note-title:empty{
    position: relative;
    display: block;
    
}
.note-title:empty::before {
    content: 'Título';
}




.note-content {
    padding-top: 2px;
    width: 100%;
    min-height: 1rem;
    display: block;

}
.note-content:focus {
    border: 0;
    outline: 0;
    display: block;
}
.note-content:empty{
    position: relative;
    display: block;
    height: 1.125rem;
}
.note-content:empty::before {
    content: '...';
}
.note-content:not(:focus) {
    display: block ;
    width: 100%;
    height: 1.125rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.note-content:not(:focus) br {
    display: none;
}


.row-buttons {
    display: flex;
    position: absolute;
    z-index: 2;
    top: 0px;
    right: 0px;
}
.toggle-priority {
box-sizing: border-box;
    width: 20px;
    height: 20px;
    overflow: hidden;
    appearance: none;
    border-radius: 2px;
    outline: 0;
    background: linear-gradient(270deg, #D32F2F, orangered);
    border: 1px solid #2F2F2F;
    box-shadow: inset 0px 0px 3px black;
    position: relative;
    
}
.toggle-priority:checked {
    background: linear-gradient(270deg, yellowgreen, lime);
}
.mark-as-deletable {
    width: 20px;
    height: 20px;
    position: relative;
}
.mark-as-deletable:not(:checked){
    appearance: none;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    
}
.mark-as-deletable:not(:checked)::before{
    font-family: "FontAwesome"; 
    font-weight: 500; 
    content: "\f1f8";
    display: block;
    font-size: 1.25rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}